#banner{
    -fx-background-image: url("Images/croci.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-color: #1c8eff;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

#sfondo{
    -fx-background-color: WHITE;
}

.blueButton{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 1;
    -fx-background-color: #1c8eff;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10, 0 , 0 , 2 );
}

.whiteButton{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
    -fx-text-fill: #1c8eff;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10, 0 , 0 , 2 );
}


